---
import Layout from '../layouts/Layout.astro'
import { getSiteSettings } from '../lib/sanity'

const settings = await getSiteSettings()
---

<Layout
  title={settings?.siteTitle ?? 'Northwest Local Cannabis'}
  description={settings?.siteDescription ?? 'Washington State licensed cannabis producer and processor.'}
>
  <h1>Northwest Local Cannabis</h1>
  <p>Site under construction.</p>
</Layout>
