---
interface Props {
  title: string
  subtitle?: string
  titleClass?: string
}

const { title, subtitle, titleClass } = Astro.props;
---

<section class="hero">
  <h1 class={titleClass}>{title}</h1>
  <div class="hero-accent"></div>
  {subtitle && <p>{subtitle}</p>}
  <slot />
</section>
